/*Custom CSS Style John Sales */

body { /*whole page*/
    font-family: "IBM Plex Sans", sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex; 
}
section {
    margin-bottom: 4em;
}
.flex-container{
    display: flex;
    justify-content: center;    
}
.grid-container{
    display: grid;
    position: relative;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    margin-left: auto;
    margin-left: auto;
}
.grid-container-small{
    display: grid;
    position: relative;
    gap: 2em;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: max-content;
    margin-left: auto;
    margin-left: auto;  
    justify-content: center;
    margin: 5%;
}
hr{
    color: #ffffff;
    width: 80%;
}
ul.links{
    text-align: center;
    background-color: #1c3485;
}
ul.links li{
    display: inline-block;
}
ul.links a{
    padding: 10px 20px;
}
div{
    position: relative;
}
img{
    transition: 0.5s ease;
}

/*---Header---*/

header{
    height: 7rem;
}

a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    text-align: center;
}
ul.links li:hover, a:active{
    background-color: #f06157;
}
.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
/*---Splash Section--*/

section.splash{
    margin: 0;
}
.splash-container{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
section.splash img{
    width: 100%;
    transition: 1s ease;
}
.middle-text{
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
div.splash-container:hover img{
    opacity: 0.3;
}
div.splash-container:hover .middle-text{
    opacity: 1;
}
section.splash h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---About Section---*/

section.about{
    background-image: url(../images/background-splash-image.png);
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
#background-img{
    background-image: url(../images/background-splash-image.png);
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
section.about p , div.about p{
    width: 60%;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    line-height: 1.25em;
    margin-left: auto;
    margin-right: auto;
}
section.about p:hover{
    background-color: #f06157;
    border-radius: 20px;
}
div.flex-container{
    margin-top: 40px;
    width: 100%;
    display: block;
}
div.img{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
section.about .profile-img{
    width: 100%;
    border-radius: 40px;
}
/*--Client Section--*/

section.clients p{
    flex: auto;
    padding: 20px;
    line-height: 1.25em;
}

/*---Portfolio Main Page---*/
section.portfolio-grid{
    margin-left: 8%;
    margin-right: 8%;
}
.grid-container div{
    border-style: solid;
    border-width: 20px;
    border-color: transparent;
}
.grid-container img{
    width: 100%;
    height: 100%;
}
.grid-container div:hover{
    border-style: solid;
    border-width: 20px;
    border-color: #f06157;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.grid:hover img{
    opacity: 0.3;
}
div.grid:hover .middle-text{
    opacity: 1;
    border-color: transparent;
}

/*---Sketch Page---*/

.sketch-page{
    display: block;
    position: relative;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    width: 100%;
    margin-left: auto;
    margin-left: auto;
}
.sketch-page div{
    padding: 20px;
    justify-content: center;
    margin: auto;
}
.sketch-page div ul{
    margin-left: 15%;
    margin-right: 15%;
}
.sketch-page img{
    width: 100%;
}
.sketch-spread{
    grid-column: 1 / span 2;
}
.prompts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.moodboard{
    display: grid;
    position: relative;
    grid-template-columns: 40% 40%;
}
.moodboard img{
    width: 100%;
    border-style:solid;
    border-width: 2em;
    border-color: #f06157;
}
.variation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    gap: 5%;
}
.variation div{
    width: 100%
}

/*---Portfolio Page---*/
 
div.portfolio-img{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-items: center;
    align-items: center;
    gap: 5%;
}
.grid-container-small h3{
    font-size: 100%;
    padding: 0%;
}
.portfolio-img2{
    display: flex;
    grid-template-columns:  1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-items: center;
    align-items: center;
}
.portfolio img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.portfolio p{
    margin: auto;
    width: 40%;
}
.grid-process{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.grid-process img{
    width: 100%;
}
.grid-process:hover{
    background-color: black;
}
.grid-process:hover img{
    opacity: 0.3;
}
.grid-process:hover .middle-text{
    opacity: 1;
    border-color: transparent;
}
.grid2{
    grid-column: 2 / span 2 ;
    width: 100%;
}
div.grid2:hover{
    border-color: transparent;
}
.grid3{
    grid-column: 1 / span 3;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
div.grid3:hover{
    border-color: transparent;
}
a.button1{
    background-color: #1c3485;
    color: white;
    text-align: center;
    padding: 2em;
    width: 20%;
    height: 10%;
    justify-self: center;
}
a.button1:hover{
    background-color: #f06157;
}
section.mockup{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grid-container-mockup{
    display: grid;
    position: relative;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}
.grid-container-mockup div{
    border-style: solid;
    border-width: 20px;
    border-color: transparent;
}
.grid-container-mockup img{
    width: 100%;
    height: 100%;
}
.grid-container-mockup div:hover{
    border-style: solid;
    border-width: 20px;
    border-color: #f06157;
}
ul.portfolio-tools{
    display: block;
    margin-top: 20px;
    margin-left: 16%;
}
.portfolio-tools li{
    display: inline-block;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2em;
}

/*---Client---*/

.clients div{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/*---Contact---*/

.contact div{
   text-align: center;
   padding-bottom: 60px;
}

/*---Text---*/

h1{
    font-size: 60pt;
    font-weight: 500;
    font-variant: small-caps;
    text-align: center;
    color: #6544f6;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}
h2{
    font-size: 32pt;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
h3{
    font-size: 24pt;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
h4{
    font-size: 18pt;
    font-weight: 500;
    text-align: center;
    color: #6544f6;
    padding: 20px;
}
#accent{
    color: #f06157;
}
#accent2{
    color: #6544f6;
}
#list-description{
    text-align: center;
}
p {
    font-size: 16pt;
    font-weight: 400;
    color: #ffffff;
    padding: 2em;
}
.magicbox-header {
    font-family: "Inter", sans-serif;
    font-size: 36pt;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 5px;
    margin-top: 40px;
}
.magicbox-subhead{
    font-size: 24pt;
    font-weight: 900;
    text-align: center;
    color: white;
    padding: 20px;
}
.magicbox-bodycopy{
    font-size: 16pt;
    font-weight: 400;
    color: white;
    padding: 2em;
    text-align: center;
}
.job-titles{
    color: #f06157;
    font-size: 20pt;
}

/*---Footer---*/

footer{
    background-color: #1c3485;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7.5%;
    width: 100%;
}
li.return-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
}
li.return-to-top p{
    padding: .75em;
}

/*---Responsive---*/

@media (max-width: 992px) {
    .flex-container{
        flex-direction: column;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
    }
    .grid2{
        grid-column: 1 /span 3;
        width: 100%;
    }
    .grid-process{
        grid-column: 1 /span 3;
        width: 100%;
    }
    div.portfolio-img{
        width: 100%;
    }
    img.svg-img1{
        height: 375px;
    }

    /*---Header---*/

    .header-fixed{
        position: fixed;
        height: 15%;
        width: 100%;
        background-color: rgba(0, 0, 0, .75);
        z-index: 2;
    }

    nav ul.links{
        display: flex;
        flex-direction: column;
    }
    *, *::after, *::before{
        box-sizing: border-box;
    }
    :root {
        --bar-width: 20%;
        --bar-height: 15px;
        --hamburger-gap: 16px;
        --hamburger-margin: 18px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
        --foreground: #1c3485;
        --background: black;
    }
    .hamburger-menu {
        --x-width:calc(var(--hamburger-height) * 1.41421356237);
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
    }
    
    .hamburger-menu:has(input:checked){
        --foreground: black;
        --background: #1c3485;
    }

    .hamburger-menu::before, .hamburger-menu input, .hamburger-menu::after{
        content:"";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 2000px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }
    
    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }
    .hamburger-menu:has(input:checked)::before{
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    .hamburger-menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);

    }
    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }
    .sidebar nav{
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: .5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        max-width: 10rem;
        position: absolute;
        min-height: 100vh;
        z-index: 1;
    }

    .hamburger-menu:has(input:checked) + .sidebar nav{
        translate: 0;
    }
    
    /*
    6/18/2025
    Things to do:
    -have appropriate links for linkedin, instagram, and x/twitter

    /*---Splash---*/

    div.splash-container img{
        opacity: 0.3;
    }
    div.splash-container .middle-text{
        opacity: 1;
    }
    /*---Portfolio Main Page--*/
    div.grid img{
    opacity: 0.3;
    }
    div.grid .middle-text{
        opacity: 1;
        border-color: transparent;
    }

    /*---About Section---*/

    section.about div.img{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        float: none;
    }
    section.about p{
        width: 80%;
    }
    
    /*---Footer---*/

   
    li.return-to-top{
        bottom: 10%;
        background-color: #f06157;
        clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
    }
 
}
@media (min-width: 1800px) {
    section.about{
        padding: 50px;
    }
    section.about div.img{
        width: 550px;
    }
    img.svg-img1{
        height: 400px;
    }
}